html
{
	background-image: url("../img/space.jpg");
	background-size: 100%;
}

table
{
	border: 5px outset white;
	border-radius: 20px;
	/*border-collapse: collapse;*/
}

td
{
	height: 8px;
	width: 8px;
}

img
{
	width: 32px;
	height: 32px;
}

h1, h4
{
	color: white;
	text-shadow: 3px 3px 3px black;
}

.map
{
	float: left;
}

.down
{
	transform: rotate(90deg);
}

.up
{
	transform: rotate(270deg);
}

.left
{
	transform: rotate(180deg);
}

.buttons
{
	background-color: grey;
	border: 5px outset grey;
	border-radius: 20px;
	margin-left: 75%;
	margin-right: 1%;
	text-align: center;
	height: 350px;
}

.submits
{
	margin-left: 85%;
	margin-top: 10%;
	position: absolute;
}

.player1
{
	float: left;
	margin-left: 20%;
}

.player2
{
	float: right;
	margin-right: 20%;
}

#bullet
{
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: red;
}