.panier:hover .produits
{
	display: block;
}

.panier:hover .vide
{
	display: block;
}

.panier
{
	margin-left: 60%;
	text-align: right;
}

.produits
{
	text-align: left;
	display: none;
	border: 5px solid black;
	min-height: 10%;
}

.vin
{
	width: 10%;
	margin-top: 2%;
	margin-bottom: 5%;
}

.nom
{
	text-align: left;
	position: absolute;
	margin-top: -2.5%;
	margin-left: 5%;
	font-size: 1.3vw;
}

.quantite
{
	text-align: left;
	position: absolute;
	margin-top: -2.5%;
	margin-left: 23%;
	font-size: 1.3vw;
}

.prix
{
	text-align: left;
	position: absolute;
	margin-top: -2.5%;
	margin-left: 30%;
	font-size: 1.3vw;
}

.valider
{
	text-align: right;
	margin-left: 30%;
	font-size: 2vw;
	position: absolute;
	margin-top: -2.5%;
}

.corbeille
{
	position: absolute;
	margin-top: -3%;
}

.vide
{
	text-align: left;
	display: none;
	border: 5px solid black;
	min-height: 10%;
	text-align: center;
}

.panier_vide
{
	font-size: 2.5vw;
	font-weight: bold;
}

.line
{
	margin-bottom: 10%;
}

.total
{
	font-size: 1.5vw;
	font-weight: bold;
	margin-top: -2.5%;
	position: absolute;
}
