<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- index.html                                         :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: svelhinh <marvin@42.fr>                    +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2016/02/25 12:05:16 by svelhinh          #+#    #+#            -->
<!-- Updated: 2016/02/27 14:46:45 by svelhinh         ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<!doctype html>
<html>

	<head>

		<title>angular</title>
		<meta name = "viewport" content = "width=device-width, initial-scale=1" charset = "utf-8" />
		<link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
		<!--<link rel="stylesheet" href="test.css" />-->
		<!--<link rel="stylesheet" href="partie2.css" />-->
		<link rel="stylesheet" href="partie3.css" />
		<script src="angular.js"></script>

	</head>

	<body ng-app="app">

		<div ng-controller="controller">

			<!--	<h1>{{ title }}</h1>


			<div class="main" ng-repeat = "product in products">
				<img ng-src = "{{product.cover}}">
				<p>{{ product.nam}</p>
				<p>{{ product.price | currency }}&euro;</p>
				<p>{{ product.date | date: "d MMMM yyyy" }}</p>
				<p class = "likes" ng-click="plusOne($index)">+ {{ product.likes }}</p>
				<p class = "dislikes" ng-click="minusOne($index)">- {{ product.dislikes }}</p>
				<br />
				<br />
			</div>

			<div class="container">
				<div class="card">
					<app-info info="sergio"></app-info>
					<app-info info="samuel"></app-info>
					<app-info info="vetea"></app-info>
				</div>
				<div class="card" ng-repeat="info in apps">
					<app-info info="info"></app-info>
					<install-app info="info"></install-app>
				</div>
			</div>-->

			<div class="container">
				<div class="row">
					<div class="col-sm-5 col-sm-offset-7">
						<h1>{{ fiveDay.city_name }}</h1>
						<h2>5-day forecast</h2>
						<div class="forecast" ng-repeat="day in fiveDay.days">
							<div class="day row">

								<div class="weekday col-xs-4">
									<p>{{ day.datetime | date }}</p>
								</div>


								<div class="weather col-xs-3">
									<img ng-src = "{{ day.icon }}">
								</div>

								<div class="col-xs-1"></div>


								<div class="high col-xs-2">
									<p>{{ day.high }}&deg;</p>
								</div>


								<div class="low col-xs-2">
									<p>{{ day.low }}&deg;</p>
								</div>
							</div>
						</div>
					</div>

					<script src="app.js"></script>
					<script src="controller.js"></script>
					<script src="appInfo.js"></script>
					<script src="installApp.js"></script>
					<script src="forecast.js"></script>

				</body>

			</html>
