html
{
	background-color: #BBC0BF;
}
.nbatom
{
	text-align: left;
}
.htatom
{
	text-align: right;
}
.border
{
	border-top: hidden;
}
.border2
{
	border-top: hidden;
	border-right: hidden;
}
.border3
{
	border-top: hidden;
	border-left: hidden;
	background-color: #BBC0BF;
}
.border4
{
	border-right: hidden;
	border-left: hidden;
}
.border5
{
	border-bottom: hidden;
	border-top: hidden;
	border-left: hidden;
	background-color: #BBC0BF;
}
td, table
{
	border-collapse: collapse;
	border: 1px solid black;
}
.green
{
	background-color: #1ac848;
}
.red
{
	background-color: #c81a1a;
}
.orange
{
	background-color: #E1932E;
}
.beige
{
	background-color: #D7C7A2;
}
.grey
{
	background-color: #A8A8A8;
}
.brown
{
	background-color: #67583F;
}
.yellow
{
	background-color: #E3EA19;
}
.cyan
{
	background-color: #19EAEA;
}
.rose
{
	background-color: #EDA7ED;
}
.light_rose
{
	background-color: #EFD6EF;
}
table
{
	width: 100%;
	font-size: 1vw;
}
