.menu
{
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	border: 5px outset #707070;
	background-color: #909090;
	font-size: 3vw;
	font-family: "Comic Sans MS";
}

li
{
    display: none;
	font-size: 1vw;
    margin-top: 10px;
    font-family: "Comic Sans MS";
}

.menu:hover li
{
    display: block;
}

a
{
	text-decoration: none;
	color: black;
}

li:hover
{
	background-color: grey;
	font-size: 50%;
}
